/* Using Spot Palette from https://mycolor.space/?hex=%2362003C&sub=1:
- primary color: #62003C
- secondary: #983D6B
- third: #FFE4F8
- fourth: #00C9B6 */

#logo {
  height: 50px;
}

.main-splash {
  background-color: #62003c;
  height: 100vh;
  color: #ffe4f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#highlight {
  color: #00c9b6;
}

.button-container {
  display: flex;
  justify-content: center;
}

.merp {
  margin-bottom: 20px;
}

.btn-danger {
  background-color: #962843;
}

.recommendations {
  font-weight: normal;
  font-style: italic;
  margin-bottom: 20px;
}

.pun-failure {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 20px;
  color: #c25545;
}

.pun-success {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 20px;
  color: #00e2d0;
}

.row {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
